@tailwind base;
@tailwind components;
@tailwind utilities;


.input-rb {
  width: 100%;
  height: 48px;
  background-color: #000;
  color: #fff;

  border: 1px solid rgba(239, 68, 68, 0.6); /* red-500 */
  border-radius: 0.5rem;

  padding: 0 12px;
  font-size: 14px;

  outline: none;
}

.input-rb::placeholder {
  color: #9ca3af; /* gray-400 */
}

.input-rb:focus {
  border-color: #ef4444;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.4);
}

/* FIX browser styling */
select.input-rb {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
}

/* FIX date input visibility */
input[type="date"].input-rb {
  color-scheme: dark;
}

/* Calendar container */
.rb-calendar {
  background-color: #000 !important;
  border: 1px solid rgba(239, 68, 68, 0.6) !important;
  color: #fff !important;
}

/* Header */
.react-datepicker__header {
  background-color: #000 !important;
  border-bottom: 1px solid rgba(239, 68, 68, 0.4) !important;
}

/* Day names */
.react-datepicker__day-name {
  color: #f87171 !important;
}

/* Days */
.react-datepicker__day {
  color: #fff !important;
}

.react-datepicker__day:hover {
  background-color: rgba(239, 68, 68, 0.3) !important;
}

/* Selected day */
.react-datepicker__day--selected {
  background-color: #ef4444 !important;
  color: #fff !important;
}

/* Today */
.react-datepicker__day--today {
  border: 1px solid #ef4444 !important;
}

/* Navigation arrows */
.react-datepicker__navigation-icon::before {
  border-color: #ef4444 !important;
}


.input-red {
  width: 100%;
  height: 44px;
  padding: 0 12px;

  border: 1px solid #252121;
  border-radius: 0.5rem;

  font-size: 14px;
  color: #000;
  outline: none;
}

.input-red::placeholder {
  color: #9ca3af;
}

.input-red:focus {
  border-color: #dc2626;
  box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.3);
}
